Repository MDALAMIN2526/Frappe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @surajshetty3416,, @netchampfaris, @scmmishra, @Mangesh-Khairnar, @surajshetty3416, @sahil28297, @prssanna, @Thunderbottom, @ruchamahabal, @gavindsouza, @god

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @surajshetty3416, @netchampfaris

# Website
website/  @scmmishra
templates/  @scmmishra
www/ @scmmishra

integrations/ @Mangesh-Khairnar

patches/ @surajshetty3416 @sahil28297

dashboard/ @prssanna

email/ @Thunderbottom

event_streaming/ @ruchamahabal

data_import* @netchampfaris

core/ @surajshetty3416

requirements.txt @gavindsouza

chat/ @god

refactor: email bulk retry
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/email_queue/email_queue_list.js
Owners: @Thunderbottom

refactor: use the same method for retrying one as well as multiple email queues
  frappe/email/doctype/email_queue/email_queue.js
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/email_queue/email_queue_list.js
Owners: @Thunderbottom

perf(desk)!: Don't send translations in frappe.boot
  frappe/boot.py
  frappe/public/js/frappe/desk.js
  frappe/translate.py
  frappe/www/app.html
Owners: @surajshetty3416,, @netchampfaris, @scmmishra

feat: generalize receiver logic in notifications
  frappe/email/doctype/notification/notification.js
  frappe/email/doctype/notification/notification.py
Owners: @Thunderbottom

style: be more explicit and docstring
  frappe/email/doctype/notification/notification.js
Owners: @Thunderbottom

feat: add debug tests
  frappe/tests/utils.py
Owners: @surajshetty3416,, @netchampfaris

perf: make website bundle with less bloat
  frappe/public/js/libs.bundle.js
  frappe/public/js/syntax_highlight.js
  frappe/public/js/website-core.bundle.js
  frappe/public/js/website-datetime.bundle.js
  frappe/public/js/website-realtime.bundle.js
  frappe/website/js/bootstrap-4.js
  frappe/website/js/website.js
Owners: @surajshetty3416,, @netchampfaris, @scmmishra

fix: allow accessing reports without roles
  frappe/boot.py
Owners: @surajshetty3416,, @netchampfaris

fix(importer): Extend date format
  frappe/utils/data.py
Owners: @surajshetty3416,, @netchampfaris

fix: added test for data util guess_date_format() function
  frappe/tests/test_data.py
Owners: @surajshetty3416,, @netchampfaris

fix: removed debug logging
  frappe/tests/test_data.py
Owners: @surajshetty3416,, @netchampfaris

feat: add new payment processing hooks
  frappe/core/doctype/server_script/server_script_utils.py
Owners: @surajshetty3416

fix: pointless conditions about systemd/supervisor
  frappe/utils/data.py
Owners: @surajshetty3416,, @netchampfaris

fix!: Overriden doctypes must inherit same base class
  frappe/model/base_document.py
Owners: @surajshetty3416,, @netchampfaris

fix: handle null in CSV preview
  frappe/public/js/frappe/views/reports/report_utils.js
Owners: @surajshetty3416,, @netchampfaris

fix: handle null in CSV preview
  frappe/public/js/frappe/views/reports/report_utils.js
Owners: @surajshetty3416,, @netchampfaris

feat: add in a button to stop a task
  frappe/core/doctype/background_task/background_task.js
  frappe/core/doctype/background_task/background_task.py
  frappe/utils/background_jobs.py
Owners: @surajshetty3416, @surajshetty3416,, @netchampfaris

feat: add in a function to create a notification log entry
  frappe/utils/__init__.py
Owners: @surajshetty3416,, @netchampfaris

feat: add in `Background Task` doctype
  frappe/core/doctype/background_task/__init__.py
  frappe/core/doctype/background_task/background_task.js
  frappe/core/doctype/background_task/background_task.json
  frappe/core/doctype/background_task/background_task.py
  frappe/core/doctype/background_task/test_background_task.py
Owners: @surajshetty3416

feat: add in a method to convert a callable to the equivalent string
  frappe/utils/__init__.py
  frappe/utils/background_jobs.py
Owners: @surajshetty3416,, @netchampfaris

feat: add in an API endpoint to enqueue a task, and stop a task
  frappe/core/doctype/background_task/background_task.py
  frappe/utils/background_jobs.py
Owners: @surajshetty3416, @surajshetty3416,, @netchampfaris
